extends layout

block content
	header
		a.logo(href='/', data-scroll) MTG Draft Tracker
		nav.nav-collapse
			ul
				if (!user)
					li.menu-item.active
						a(href='/register', data-scroll) Create Account
					li.menu-item.active
						a(href='/login', data-scroll) Log In
				if (user)
					li.menu-item.active
						a(href='/dashboard', data-scroll) Dashboard
					li.menu-item
						a(href='/add-draft', data-scroll) Add Draft
					li.menu-item
						a(href='logout', data-scroll) Log Out

	main
		section.stats
			.container-fluid
				.row
					h1 Dashboard
				.row.inline-block
					.pie-chart.col-6 Pie chart of colors played
					.draft-stats.col-6 Win rate and other stats
		section.drafts
			.draft-table
				.draft-rows
					.draft-row(id='draft-table-header')
						.draft-heading-cell(id='heading-date') Date
						.draft-heading-cell(id='heading-set') Set
						.draft-heading-cell(id='heading-format') Format
						.draft-heading-cell(id='heading-colors') Colors
						.draft-heading-cell(id='heading-record') Record
					.draft-row(id= user.drafts[0].id)
						.draft-cell= user.drafts[0].date
						.draft-cell= user.drafts[0].sets
						.draft-cell= user.drafts[0].format
						.draft-cell= user.drafts[0].colorsPlayed
						