extends layout

block content
	main
		section
			h1 Magic: The Gathering Draft Tracker
			h2 Track your MTGO draft statistics
			i.ms.ms-w.ms-cost
			i.ms.ms-u.ms-cost
			i.ms.ms-b.ms-cost
			i.ms.ms-r.ms-cost
			i.ms.ms-g.ms-cost