extends layout

block content
	main
		.container-fluid
			.row
				section.scroll-section
					.jumbotron.col-6
						h1 Magic: The Gathering Draft Tracker
						h2 Tirelessly track your draft results
						img.slideUp(src='./images/draftTrackerLogo.svg')
						if (!user)
							.row
								a(href='/register')
									button.btn sign up
							.row
								a(href='/login')
									button.btn log in
						else
							.row
								a(href='/Dashboard')
									button.btn dashboard
							.row
								a(href='/add-draft')
									button.btn add draft
					.hand.col-6
						img.card-one.fanCardOne(src='./images/tireless-tracker.jpg')
						img.card-two(src='./images/ainok-tracker.jpg')
						img.card-three.fanCardThree(src='./images/lowland-tracker.jpg')

			section.scroll-section.gray(id='section-one')
				.col-6
					h3 Enter your draft results
					p Quickly enter your draft results from any device.
					img.slideLeft(src='./images/tracker.jpg')
				.phone.col-6
					img(src='./images/addDraft-iPhone.png')
			section.scroll-section(id='section-two')
				.phone.col-6
					img(src='./images/dashboard-iPhone.png')
				.col-6
					h3 Track your metrics.
					p Track your match and game win rate across sets, formats, and colors played.
					img.slideRight(src='./images/ulvenwald-tracker.jpg')

