extends layout

block content
  main
    section
      h1 Login Page
      p.lead Say something worthwhile here.
      br
      form(role='form', action="/login", method="post")
        .form-row
          label(for='email') Email address:
          input(type='text', name="username", placeholder='Email Address')
        .form-row
          label(for='password') Passwrord:
          input(type='password', name="password", placeholder='Password')
        button(type='submit') Submit
        a(href='/')
          button(type="button") Cancel