extends layout

block content
  main
    section
      .container-fluid
        .row
          h1 Login Page
          p.lead Say something worthwhile here.
        .row
          form(role='form', action="/login", method="post")
            .row
              label.form-icon(for='email')
                i.ms.ms-planeswalker.ms-2x
              input(type='text', name="email", placeholder='Email Address')
            .row
              label.form-icon(for='password')
                i.ss.ss-usg.ss-2x
              input(type='password', name="password", placeholder='Password')
            .row
              button.btn(type='submit') Submit