extends layout

block content
  main
    section
      h1 Start Tracking
      p.lead Create your account.
      br
      form(role='form', action="/register", method="post")
        .form-row
          label(for='email') Email address:
          input(type='text', name="email", placeholder='Email Address')
        .form-row
          label(for='password') Password:
          input(type='password', name="password", placeholder='Password')
          button.btn(type='submit') Submit