@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
/*	65%{
		transform: translateY(4%);
	}*/
/*	80%{
		transform: translateY(-4%);
	}*/
/*	95%{
		transform: translateY(2%);
	}			*/
	100% {
		transform: translateY(0%);
	}	
}

.slideUp {
	animation: 1.5s ease-in-out 0s 1 slideUp;
}

@keyframes slideLeftToRight {
	0% {
		transform: translateX(-150%);
	}

	100% {
		transform: translateX(0%);
	}
}

.slideLeftToRight {
	animation: 1s ease-in-out 0s 1 slideLeftToRight;	
}

@keyframes slideRightToLeft {
	0% {
		transform: translateX(150%);
	}

	100% {
		transform: translateX(0%);
	}
}

.slideRightToLeft {
	animation: 1s ease-in-out 0s 1 slideRightToLeft;	
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	animation: fadeIn 1s .5s;
}

@keyframes fanCardOne {
/*	0% {
		transform: rotate(0deg);
  	transform-origin: bottom right;		
	}*/

	100% {
		transform: rotate(10deg);
  	transform-origin: bottom center;
	}
}

.fanCardOne {
	animation: 1s ease-in-out .5s 1 fanCardOne;
	animation-fill-mode: forwards;
}

@keyframes fanCardThree {
/*	0% {
		transform: rotate(0deg);
  	transform-origin: bottom right;		
	}*/

	100% {
		transform: rotate(-10deg);
  	transform-origin: bottom center;
	}
}

.fanCardThree {
	animation: 1s ease-out .5s 1 fanCardThree;
	animation-fill-mode: forwards;
}