@import url('animations.css');
@import url('grid.css');
@import url('dashboard.css');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
}

section {
	border: none;
}

.scroll-section {
	min-height: 480px;
	height: 100vH;  
}

.gray {
	background-color: rgb(247, 247, 247);
}

h1 {
	font-size: 3em;
}

.draft-form h1 {
	text-align: left;
	margin-left: 65px;
}

h3 {
	font-size: 2.5em;
}

p {
	font-size: 1.5em;
}

.hidden {
	display: none;
}

.btn {
	width: 125px;
	background: #FFF;
	padding: 12px 8px;
	margin-top: 25px;
	border: 2px solid #0e68ab;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 #0e68ab;
}

.draft-cell .btn {
	width: 60px;
	padding: 8px 8px;
	margin-top: 0px;
	font-size: 10px;
	font-weight: bold;
}

.btn:hover {
	box-shadow: inset 200px 0 0 0 #0e68ab;
	color: #FFF;
}

input[type='text'], input[type='password'], input[type='date'], select {
	height: 42px;
	width: 200px;
	border-left: none;
	border: 1px solid rgb(196,211,202);
	padding-left: 8px;
	margin-top: 8px;
}

input[type='text']:focus, input[type='password']:focus, input[type='date']:focus, select:focus {
	outline: none !important;
	border-color: rgb(0,115,62);
}

.align-left {
	text-align: left;
}

.games-select {
	margin-right: 16px;
	width: 40px;
}

.draft-form-label {
	display: inline-block;
	margin-left: 15px;
	width: 65px;
}

.match-label {
	margin-top: 8px;
	font-weight: 700;
}

.draft-form-input {
	margin-left: 8px;
	margin-right: 8px;
}

.form-icon {
	padding-top: 10px;
	padding-bottom: 11px;
	padding-left: 8px;
	padding-right: 8px;
	width: 40px;
	background-color: rgb(196,211,202);
}

.ms, .ss {
	margin: 0;
}

.ms-planeswalker {
	margin-left: 1.5px;
	margin-right: 1.5px;
}


.inline-block {
	display: inline-block;
}

.hand {
	display: none;
}

.pie-chart {
	width: 125px;
	height: 150px;
}

.draft-stats {
	width: 125px;
	height: 150px;
}

.draft-stats p {
	margin-top: -16px;
	font-size: 14px;
}

.row-spacing {
	height: 8px;
}

section#drafts {
	padding: 0;
	border: none;
}

.drafts-table {
	display: table;
	width: 100%; 
}

.drafts-rows {
	display: table-row-group;
}

.draft-header-row, .draft-row {
	display: table-row;

}

.draft-heading-cell, .draft-cell {
	display: table-cell;
	padding: 4px 2px;
}

.draft-cell {
	border-top: 1px solid #191919;
}

.edit-delete .draft-cell {
	border-bottom: 1px solid #191919;
}

.draft-info .draft-cell {
	border-bottom: 1px solid #191919;
}

.draft-row:last-child .draft-cell {
	border-bottom: 1px solid #191919;
}

.draft-row:nth-child(odd) .draft-cell {
	background: rgb(179,206,234);
}

.draft-row:not(.edit-delete):hover .draft-cell {
	background: rgb(211,32,42);
	color: #FFFFFF;
}

.draft-heading-cell {
	font-weight: 700;
}

.draft-cell {
	font-size: 12px;
}

.draft-cell i {
	font-size: 14px;
}

.mana-symbols {
	padding-top: 50px;
	min-height: 100px;
}

i {
	margin: 10px;
}

.ms-w {
	position: relative;
	top: 10px;
}

.ms-u {
	position: relative;
	top: -15px;
}

.ms-b {
	position: relative;
	top: 5px;
}

.ms-r {
	position: relative;
	top: -35px;
}

.ms-g {
	position: relative;
	top: -20px;
}

img {
	width: 265px;
	margin-top: 24px;
}

.phone {
	display: none;
}

.phone img {
	width: 500px;
}

.card-one {
	position: absolute;
	left: 160px;
	top: 48px;
	z-index: 2;
}

.card-two {
	position: absolute;
	left: 160px;
	top: 48px;
	z-index: 1;
}

.card-three {
	position: absolute;
 left: 160px;
 top: 48px;
	z-index: 0;
}

.winRate {
	font-size: 60px;
}

@media (min-width: 768px) {
	.col-6 {
		width: 50%;
	}

 .hand {
		display: initial;
	}

	.phone {
		display: initial;
	}
	.pie-chart {
		width: 125px;
		height: 150px;
		margin: 8px;
	}

	.draft-stats {

		width: 125px;
		height: 150px;
		margin: 8px;
	}

	.draft-form {
		margin-left: 33.33%;
	}

	.draft-btn {
		margin-left: 92px;
	}

	.drafts {
		margin-left: 25%;
	}

	.draft-cell {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.draft-cell:first-child {
		border-left: 1px solid #191919;
	}

	.draft-cell:last-child {
		border-right: 1px solid #191919;
	}

	.draft-row:first-child .draft-cell:first-child {
		border-bottom-left-radius: 3px
	}
	.draft-row:first-child .draft-cell:last-child {
		border-bottom-right-radius: 3px
	}
	.draft-row:last-child .draft-cell:first-child {
		border-bottom-left-radius: 3px
	}
	.draft-row:last-child .draft-cell:last-child {
		border-bottom-right-radius: 3px
	}
}